body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.edit{
  width: 25px;
  height: 25px;
  background-color: green;
  text-decoration: none;
  color: white;
  padding: 5px;
}

.delete{
  width: 25px;
  height: 25px;
  background-color: red;
  text-decoration: none;
  color: white;
  padding: 5px;
}

.add, .back{
  width: 35px;
  height: 25px;
  background-color: blue;
  text-decoration: none;
  color: white;
  
  
}
